@import url(./../vendor/fonts/Inter-Black.woff2);
body {
  background-color: black;
  color: #ffffff;
  font-family: "inter";
}
.page {
}
.perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 880px;
  width: 100%;
  margin: auto;
}
.inicio {
  max-width: 880px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inicio__image {
  border-radius: 50%;
  width: 100%;
  max-width: 120px;
  height: 120px;
  margin-right: 30px;
}
.inicio__informacion {
  display: flex;
  flex-direction: column;
  max-width: 415px;
  width: 100%;
  }

.edicion {
  background-color: #000000;
  margin: 0px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  max-width: 24px;
  height: 24px;
  margin-top: -10px;
  border-color:#ffffff;
}
.inicio__publicar {
  background-color: #000000;
  border: none;
  padding: 0;
  cursor: pointer;
  margin: auto;
  height: 100%;
  max-width: 150px;
  width: 100%;
  max-height: 150;
}

.galeria {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 880px;
  height: 743px;
}

.card {
  width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  gap: 20px;
}
.post {
  border-radius: 5%;
  overflow: hidden;
  background-color: #ffffff;
  color: #000000;
}
.post__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 900;
  text-align: left;
}


.post__image {
  width: 100%;
  max-width: 282px;
  height: 282px;
}
.post__button {
  background-color: #ffffff;
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  border:none
}

.dialog{
  color:#ffffff;
  background-color: aqua;
  position: fixed;
  top:50%;
  left: 50%;

}
.dialog2{
  color:red;
  background-color: blue;
  position: fixed;
  top:50%;
  left: 50%;

}